.section-title {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    background-color: teal;
    padding: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }